/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: white;

  --color-footer: black;
  --color-footer-text: white;
}

/****************/
/* GENERAL CSS */
/****************/

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: "Libre Franklin", sans-serif;
  margin: 0;
  padding: 0;
}

/****************/
/* HOMEPAGE - Section 1 - landing page*/
/****************/

header {
  position: relative;
  z-index: 2;
}

/* buttons verdwijnen achter a:(!!!!!! */
header button {
  z-index: 3;
}

/* z index --> creating hierarchy between images ansd elements in page */
main {
  z-index: 1;
}

section:nth-of-type(1) {
  position: relative;
}

/* promo link bovenaan (blijft niet vast zitten - gelukt met hulp van nensi en jeffry)  */
header > a {
  background-color: #353535;
  padding: 0.25em 0em 0.25em 0.5em;
  margin: 0em;
  color: white;
  text-decoration: underline;
  text-decoration-color: gray;
  text-transform: uppercase;
  font-weight: 100;
  position: fixed;
  top: 0;
  display: flex;
  width: auto;
  text-align: center;
  margin: 0;
  padding-top: 0.5em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  font-size: smaller;
}

header > button:nth-of-type(1) {
  position: fixed;
  background-color: transparent;
  padding: 0em;
  left: 2em;
  border: none;
  top: 1em;
  filter: invert(1);
}

header > button:nth-of-type(2) {
  position: fixed;
  background-color: transparent;
  padding: 0em;
  right: 2em;
  top: 1em;
  border: none;
  filter: invert(1);
}

/* nav bar */
header nav ul {
  list-style: none;
  background-color: white;
  padding: 1em 0em 0.5em 0em;
  top: 2.7em;
  margin: 0em;

  position: fixed;
  width: 100%;
  border-bottom: 0.02em solid #575757;

  display: flex;
}

/* styling items in de navbar */
header nav ul li {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 0;
  margin: 0;
}

/* positie buttons nav bar left side */
header nav:nth-of-type(1) ul li:nth-of-type(1) {
  justify-content: flex-start;
  padding-left: 1em;
}

/* positie buttons nav bar left side */
header nav ul li:nth-of-type(3) {
  justify-content: flex-end;
  padding-right: 1em;
}

/* styling distance profile button */

header nav ul li:nth-of-type(3) button:nth-of-type(1) {
  padding-right: 1.25em;
}

/* styling distance search button */
header nav ul li:nth-of-type(1) button:nth-of-type(2) {
  padding-left: 1.25em;
}

/* afstand menu over de pagina */
nav:nth-of-type(2).openNu {
  transform: translateX(-15%);
}

/* logo styling*/
header nav a img {
  height: auto;
  width: 6.5em;
  align-items: center;
  flex-grow: 2;
}

/* background img  */
section:nth-of-type(1) img {
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 3.25em;
  background-repeat: no-repeat;
}

header nav button {
  border: none;
  background-color: white;
}

nav:nth-of-type(2) {
  display: grid;
  position: fixed;
  padding: 1em;
  background-color: white;
  align-content: flex-start;
  gap: 1em;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  transform: translateX(-100%);
  transition: 1s;
  z-index: 400;
}

nav:nth-of-type(2) ul {
  padding-left: 1em;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav:nth-of-type(2) ul li {
  line-height: 2em;
  padding-left: 5em;
}

nav:nth-of-type(2) button {
  background-color: lightblue;
}

nav:nth-of-type(2) ul li a {
  text-decoration: none;
  color: var(--color-text);
}

/****************/
/* HOMEPAGE - Main - Section 1 - Landingpage */
/****************/

/* <!-- STYLING Section 1: above landingpage line --> */

main section:nth-of-type(1) {
  display: flex;
  margin-top: 5em;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

main section:nth-of-type(1) img {
  order: 1;
  background-color: #efeae4;
}

main section:nth-of-type(1) h1 {
  font-weight: 500;
  font-size: 1.5em;
  padding: .5em;
  margin: 0;
  order: 3;
  flex: 2 1 60%;
}

main section:nth-of-type(1) p:nth-of-type(1) {
  font-size: 1em;
  font-weight: 100;
  padding: 0em 0 0em 0.8em;
  margin: 0;
  order: 4;
}

main section:nth-of-type(1) p:nth-of-type(2) {
}

main section:nth-of-type(1) p:nth-of-type(3) {
}

main section:nth-of-type(1) > p:nth-of-type(2) {
  font-size: 0.8em;
  font-weight: 100;
  /* position: absolute; */
  order: 2;
  position: relative;
  margin: 0;
  padding: 1em 1em;
  width: 100%;
}

main section:nth-of-type(1) p:nth-of-type(5),
section:nth-of-type(1) p:nth-of-type(6) {
  position: absolute;
}

main section:nth-of-type(1) > p:nth-of-type(3) {
  top: 3em;
  left: 1em;
  color: white;
  background-color: #d72e3f;
  padding: 0.3em;
  font-size: 0.8em;
  text-transform: capitalize;
  position: absolute;
}

main section:nth-of-type(1) > p:nth-of-type(4) {
  top: 5.3em;
  left: 1em;
  color: black;
  background-color: white;
  padding: 0.3em;
  font-size: 0.8em;
  text-transform: capitalize;
  position: absolute;
}

main section:nth-of-type(1) button:nth-of-type(1) {
  width: 3.5em;
  height: 3.5em;
  bottom: 10.5em;
  right: 1em;
  background-color: white;
  margin: 0;
  padding: 0;
  border: solid lightgray 0.1em;
  position: absolute;
}

main section:nth-of-type(1) button:nth-of-type(1) img {
  padding: 0.9em 0.9em 0.6em 0.9em;
  margin: 0;
  background-color: white;
}

main section:nth-of-type(1) {
  border-bottom: lightgrey solid 0.1em;
  padding-bottom: 1em;
  position: relative;
}

/* <!-- STYLING Section 1.2: under landingpage line --> */

main section:nth-of-type(2) {
  padding: 1em;
  margin: 0;
}

main section:nth-of-type(2) h2:nth-of-type(1) {
  font-size: 1em;
  font-weight: 100;
  padding-bottom: 0.6em;
  margin: 0;
}

main section:nth-of-type(2) h2:nth-of-type(2) {
  font-size: 1em;
  font-weight: 500;
  padding: 1em 0 0.8em 0;
  margin: 0;
}

main section:nth-of-type(2) button {
  padding: 0.8em;
  margin: 0 0 0.7em 0;
  font-size: 1em;
  background-color: white;
  border: solid lightgray 0.1em;
}

/* Color Carousel (SANNE VOORBEELD) */
main section:nth-of-type(3) ul {
  margin: 0;
  padding: 0 0 0 1em;
  list-style: none;

  display: flex;
  gap: 1em;

  overflow-x: auto;

  scroll-snap-type: x mandatory;
  /* bij de kinderen - de li - het tweede deel */

  overscroll-behavior-x: contain;
  /* zodat de back functie niet wordt getriggerd bij terug-swipen */
}

/* een card in de carousel */
main section:nth-of-type(2) li {
  /* als flex-kind */
  flex-shrink: 0;

  /* als flex-parent */
  /* /* display: flex; */
  flex-direction: column;

  scroll-snap-align: center;
  /* bij de parent het - de ul - het eerste deel */

  padding: 1em;
}

/* styling elements in a carousel card */

main section:nth-of-type(3) img {
  background-color: white;
  height: auto;
  width: 5em;
  padding: 0em;
  margin: 0.5em 0 0.5em 0;
}

main section:nth-of-type(3) button {
  background-color: white;
  border: solid 0.1em lightgray;
  padding: 0;
  margin: 0;
}

/* styling add to cart button */

main section:nth-of-type(4) {
  position: relative;
  padding: 1em;
}
main section:nth-of-type(4) button {
  background-color: black;
  color: white;
  text-transform: capitalize;
  border: none;
  padding: 1em 2.5em;
  width: 100%;
  font-weight: 700;
}

/* styling extra info */
main section:nth-of-type(4) h2:nth-of-type(1) {
  padding: 1em 1em;
  margin: 0;
  font-size: 0.7em;
  font-weight: 100;
}

main section:nth-of-type(4) h2:nth-of-type(2) {
  padding: 0 1em;
  margin: 0;
  font-size: 0.7em;
  font-weight: 700;
}

main section:nth-of-type(4) p {
  padding: 2em 0 0 1em;
  margin: 0;
}

main section:nth-of-type(4) p:nth-of-type(1) {
  padding: 2em 0.2em 0 0.7em;
  margin: 0;
}

main section:nth-of-type(4) p:nth-of-type(2) {
  padding: 2em 1em 0 01em;
  margin-bottom: 1em;
}

/* styling drop down extra info */

main section:nth-of-type(5) {
  position: relative;
  border-bottom: lightgray 0.1em solid;
  border-top: lightgray 0.1em solid;
}

main section:nth-of-type(5) button:nth-of-type(1) {
  position: absolute;
  top: 1.5em;
  right: 1.25em;

  display: inline-block;
  border: none;
  background-color: white;
  padding: 0 1 0 1;
  margin: 0;
}
main section:nth-of-type(5) ul:nth-of-type(1) {
  list-style: none;
  max-height: 28em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;

  text-transform: uppercase;
  font-size: 0.75em;
  display: none;
  overflow: hidden;
}

main section:nth-of-type(5) ul.openNu {
  display: block;
}

main section:nth-of-type(5) h2 {
  padding: 0.5em 0em 0.5em 0.7em;
  font-weight: 100;
  font-size: 1em;
}

main section:nth-of-type(6) {
  position: relative;
  border-bottom: lightgray 0.1em solid;
  border-top: transparent 0.1em solid;
}

main section:nth-of-type(6) button:nth-of-type(1) {
  position: absolute;
  top: 1.5em;
  right: 1.25em;

  display: inline-block;
  border: none;
  background-color: white;
  padding: 0 1 0 1;
  margin: 0;
}
main section:nth-of-type(6) ul:nth-of-type(1) {
  list-style: none;
  max-height: 28em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;

  text-transform: uppercase;
  font-size: 0.75em;
  display: none;
  overflow: hidden;
}

main section:nth-of-type(6) ul.openNu {
  display: block;
}

main section:nth-of-type(6) h2 {
  padding: 0.5em 0em 0.5em 0.7em;
  font-weight: 100;
  font-size: 1em;
}

/* SECTION 7 - Promo */

main section:nth-of-type(7) {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}

main Section:nth-of-type(7) h1 {
  display: flex;
  justify-content: center;

  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 2em;
}

main Section:nth-of-type(7) h2 {
  display: flex;
  justify-content: center;

  font-size: 1.8em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5em;
  margin: 0em;
  text-align: center;
  padding-bottom: 3em;
}

main section:nth-of-type(7) img:nth-of-type(1) {
  order: -1;
  max-height: 100%;
  max-width: 100%;
  transform: scale(2);
  padding: 10em 5em 8em 0;
}

/* SECTION 8 STEPS overview */

main section:nth-of-type(8) ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 2.2em;
}

main section:nth-of-type(8) img {
  width: 6.5em;
}

main section:nth-of-type(8) p {
  font-weight: 500;
  line-height: 0.2em;
}

main section:nth-of-type(8) h2 {
  font-weight: 600;
}



/* SECTION 9 - promo images */

main section:nth-of-type(9) {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #efeae4;
}

main section:nth-of-type(9) img:nth-of-type(1) {
  margin: 1.2em;
}

main section:nth-of-type(9) img:nth-of-type(2) {
    margin: 1.2em;
  }

main section:nth-of-type(9) h2 {
  padding: 0 0 0 1em;
  margin: 0;
}

main section:nth-of-type(9) h2:nth-of-type(1) {
  font-weight: 500;
  font-size: 1.2em;
  text-transform: uppercase;
}

main section:nth-of-type(9) h2:nth-of-type(2) {
  font-weight: 500;
  font-size: 1.2em;
  padding-top: 1em;
}

main section:nth-of-type(9) p {
  padding: 0 1.3em 0 1.25em;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.6em;
}

main section:nth-of-type(9) p:nth-of-type(2) {
  padding-bottom: 2em;
}


/* SECTION 10 - reviews part 1 */

main section:nth-of-type(10) {

    background-color: #e6dfd6;
    padding: 5em 0 0 1em;
}

main section:nth-of-type(10) h2{

    font-size: 0.9em;
    font-weight: 100;
    padding: 0 0 1em 0;
}


main section:nth-of-type(10) img{

    width: 8em;
    padding: 0 0 1em 0;
}


/* SECTION 11 - reviews part 2 sort/search */

main section:nth-of-type(11){

    display: flex;
    
    padding: 1em 0 1em 1em;
    background-color:#e6dfd6 ;
    border-top: #c6bebe solid 0.15em;
    border-bottom: #c6bebe solid 0.15em;
}


main section:nth-of-type(11) h2{

    font-size: 1em;
    font-weight: 600;
    text-transform:capitalize ;
    order: -2;
}

main section:nth-of-type(11) input[type=text]{


  padding: 0.3em 0 0.3em 0.5em;
  margin: 0;
  border: none;
  font-size: 0.9em;
  background-color: transparent;
  
}

main section:nth-of-type(11) img:nth-of-type(1){

   order: -1;
   padding: 0 0 0 2em;
   margin: 0;
   width: 2.8em;
}

main section:nth-of-type(11) img:nth-of-type(2){

    order:-2;
    padding-left: 0.5em;
    width: 1.3em;
  
}


/* SECTION 12 - reviews part prodcut / questions */

main section:nth-of-type(12) {

    display: flex;
    justify-content: flex-end;
    gap: 1em;
    background-color:#e6dfd6;
  
}
main section:nth-of-type(12) h2:nth-of-type(2){

    padding-right: 1em;

}

main section:nth-of-type(12) h2{
    font-size: 0.9em;
    font-weight: 600;
    text-transform: capitalize;
    padding: 1em 0 0 0;
}



/* SECTION 13 - reviews content */

main section:nth-of-type(13) {

 display: grid;
 grid-template-columns: 42% 7% 12% 16% 1fr; /* CREDITS NAAR CESAR */
 background-color:#e6dfd6;
}

main section:nth-of-type(13) p:nth-of-type(1),
main section:nth-of-type(13) p:nth-of-type(2),
main section:nth-of-type(13) p:nth-of-type(3),
main section:nth-of-type(13) p:nth-of-type(4),
main section:nth-of-type(13) h2,
main section:nth-of-type(13) img{

    grid-column-start: 1;
    grid-column-end: 6;
}



main section:nth-of-type(13) p:nth-of-type(5),
main section:nth-of-type(13) p:nth-of-type(6),
main section:nth-of-type(13) p:nth-of-type(7),
main section:nth-of-type(13) p:nth-of-type(8),
main section:nth-of-type(13) p:nth-of-type(9){

display: flex;
flex-direction: row;
font-size: 0.8em;
margin: 0;
padding: 1em 0 0 0;
}

main section:nth-of-type(13) p:nth-of-type(5) {
    padding-left: 1em;
}

main section:nth-of-type(13) p:nth-of-type(9) {
    padding-right: 1em;
}

main section:nth-of-type(13) p:nth-of-type(1), 
main section:nth-of-type(13) p:nth-of-type(2), 
main section:nth-of-type(13) p:nth-of-type(3) {

order: -1;
padding: 0.6em 0 0 1em;
font-size: 0.8em;
text-transform: capitalize;
margin: 0;
}

main section:nth-of-type(13) p:nth-of-type(2){

    font-size: 1em;
    font-weight: 600;
    padding-left: 0.8em;
}


main section:nth-of-type(13) h2{

    font-size: 1em;
    font-weight: 500;
    padding: 2em 0 0 0.8em;
    margin: 0;
    text-transform: capitalize;
}


main section:nth-of-type(13) p:nth-of-type(4){

    padding: 0 0 1em 0.9em;
    font-size: 0.9em;
}

main section:nth-of-type(13) img:first-of-type{

    width: 7em;
    padding: 0 0 0 1em;
}







/****************/
/* HOMEPAGE - Footer */
/****************/

footer {
  margin: 0;
  padding: 0;

  background-color: var(--color-footer);
  color: var(--color-footer-text);
  position: relative;
}

footer section:nth-of-type(1) h3 {
  margin: 0;
  padding-left: 1em;
  padding-top: 2em;
  font-size: 0.7em;
  font-weight: 200;
  text-transform: uppercase;
}

footer section:nth-of-type(2) h3 {
  margin: 0;
  padding-left: 1em;
  padding-top: 2em;
  font-size: 0.7em;
  font-weight: 200;
  text-transform: uppercase;
}

footer section:nth-of-type(3) h4 {
  margin: 0;
  font-size: 0.7em;
  font-weight: 200;
  padding: 2em 0 1em 1em;
}

footer section:nth-of-type(1) button:nth-of-type(1) {
  position: absolute;
  top: 1.5em;
  right: 1.25em;

  display: inline-block;
  border: none;
  background-color: white;
  padding: 0 1 0 1;
  margin: 0;
}

footer section:nth-of-type(1) ul {
  list-style: none;
  max-height: 20em;
  margin: 0;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;

  text-transform: uppercase;
  font-size: 1.75em;

  display: none;
  overflow: hidden;
}

footer ul li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

footer ul li {
  font-size: 0.5em;
  padding-top: 1em;
}

footer section:nth-of-type(3) {
  padding-top: 3em;
}

footer section:nth-of-type(3) img:nth-of-type(1) {
  padding-left: 0.7em;
}

footer section ul.open {
  display: block;
}

section>div {
    display: flex;
    order: 3;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex: 2 1 30%;
    justify-content: flex-end;
    margin: 0 1em;
}