/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-backgroundW: white;
  --color-backgroundB: black;

  --color-footer: black;
  --color-footer-text: white;

  /* header colors */
  --color-headerBanner: #353535;
  --color-underlineBanner: gray;
  --color-underlineMain: #575757;

  /* main colors */
  --color-textButtonMain: #353535;
  --color-imgBackgroundMain: #efeae4;
  --color-imgBackgroundDark: #e6dfd6;
  --color-backgroundLight: #f8f7f1;
  --color-saveMoney: #d72e3f;
  --color-borderButtons: lightgray;
  --color-borderlineRev: #c6bebe;
}

/****************/
/* GENERAL CSS */
/****************/

body {
  color: var(--color-text);
  background-color: var(--color-backgroundW);
  font-family: "Libre Franklin", sans-serif;
  margin: 0;
  padding: 0;
}
