/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: white;

  --color-footer: black;
  --color-footer-text: white;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: "Libre Franklin", sans-serif;
  margin: 0;
  padding: 0;
  
}

/****************/
/* HOMEPAGE - Section 1 - landing page*/
/****************/

header {
  position: relative;
  z-index: 2;
  
}

/* buttons verdwijnen achter a:(!!!!!! */
header button{
	z-index: -1;
}

/* z index --> creating hierarchy between images ansd elements in page */
main {
  z-index: 1;
}

section:nth-of-type(1) {
  position: relative;
}

/* promo link bovenaan (blijft niet vast zitten - gelukt met hulp van nensi en jeffry)  */
header > a {
  background-color: #2e2e2e;
  padding: 0.25em 0em 0.25em 0.5em;

  margin: 0em;
  color: white;
  text-decoration: underline;
  text-decoration-color: gray;
  text-transform: uppercase;
  font-weight: 100;

  position: fixed;
  top: 0;
  display: flex;
  width: auto;
  text-align: center;
  margin: 0;
  padding-top: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  font-size: smaller;
  
}



/* nav bar */
header nav ul {
  list-style: none;
  background-color: white;
  padding: 0.75em 0em 0.25em 0em;
  top: 2.7em;
  margin: 0em;

  position: fixed;
  width: 100%;
  border-bottom: 0.02em solid #575757;

  display: flex;
 
  
}

header nav ul li{

	display: flex;
	flex-grow: 1;
	
}

/* logo */
header nav a img {
  height: auto;
  width: 6em;
flex-grow: 5;
 
 
}

/* backgrounf img */
/* section:nth-of-type(1) img {
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 3.25em;
  background-repeat: no-repeat;
} */

header nav button{

	border: none;
	background-color: white;
}



main section:nth-of-type(1) video{

	
	margin-top: 4.3em;
	height: 43.5em;
	width:"100%";
}


/* text on video img */

section:nth-of-type(1) p {
  position: absolute;
  left: 0.75em;
  right: 1em;
  bottom: 33em;
  padding: 0em 0.5em 1em 0.5em;
  margin: 0;

  text-align: center;
  font-size: small;
  text-transform: uppercase;
  color: white;
}

section:nth-of-type(1) h1 {
  position: absolute;
  left: 0.3em;
  right: 0.3em;
  bottom: 8em;
  padding: 0;
  margin: 0em;
  text-align: center;

  font-size: 2.5em;
  color: white;
  font-weight: 600;
 
}

main section:nth-of-type(1) button {
  position: absolute;
  top: 38em;
  right: 4em;
  left: 4em;

  padding: 1.25em;
  text-transform: uppercase;
  font-weight: 500;
  color: #353535;
  border-style: none;
  letter-spacing: 0.1em;
}

/***********************/
/* HOMEPAGE - SECTION 2 */
/************************/

/* section 2 - carousel  - discover our products*/

section:nth-of-type(2) ul {
  /* BRON - SANNE VOORBEELD LES */
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  gap: 1em; /* maakt geen verschil */

  overflow-x: auto;

  scroll-snap-type: x mandatory;
  /* bij de kinderen - de li - het tweede deel */

  overscroll-behavior-x: contain;
  /* zodat de back functie niet wordt getriggerd bij terug-swipen */
}

/* een card in de carousel */
section:nth-of-type(2) li {
  /* als flex-kind */
  flex-shrink: 0; /* maakt geen verschil */

  /* als flex-parent */
  display: flex;
  flex-direction: column;

  scroll-snap-align: center;
  /* bij de parent het - de ul - het eerste deel */

  padding: 1em;
}

main h2:nth-of-type(1) {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  font-weight: 450;
  margin: 0;
  padding-top: 3em;
  padding-bottom: 1em;
}

main section:nth-of-type(2) a {
  text-decoration: none;
}

/* contents of a carousel card */
main section:nth-of-type(2) h3,
main section:nth-of-type(2) p {
  margin: 0 1em 0.5em 0em;
  color: var(--color-text);
}

/* styling elements in a carousel card */
main section:nth-of-type(2) ul h3 {
  font-weight: 100;
}

main section:nth-of-type(2) ul p:nth-of-type(0) {
  font-weight: bold;
}

main section:nth-of-type(2) ul p:nth-of-type(2) {
  font-weight: 200;
  font-size: small;
}

main section:nth-of-type(2) img {
  background-color: #efeae4;

  height: auto;
  width: 15em;
  padding: 1em;
  
}



/***********************/
/* HOMEPAGE - SECTION 3 */
/************************/

/* SECTION 3 - Carousel 2 STEPS */

main > h3 {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
  padding: 4.5em 1em 2em 1em;
}

main section:nth-of-type(3) a {
  text-decoration: none;
}

main section:nth-of-type(3) {
  display: flex;
}

section:nth-of-type(3) ul {
  /* BRON - SANNE VOORBEELD LES */
  margin: 0;
  padding: 0em;
  padding-left: 1em;
  list-style: none;

  display: flex;
  gap: 1em; /* maakt geen verschil */

  overflow-x: auto;

  scroll-snap-type: x mandatory;
  /* bij de kinderen - de li - het tweede deel */

  overscroll-behavior-x: contain;
  /* zodat de back functie niet wordt getriggerd bij terug-swipen */
}

/* een card in de carousel */
section:nth-of-type(3) li {
  /* als flex-kind */
  flex-shrink: 0; /* maakt geen verschil */

  /* als flex-parent */
  display: flex;
  flex-direction: column;

  scroll-snap-align: center;
  /* bij de parent het - de ul - het eerste deel */

  padding: 0;
}

/* de inhoud van een card */
main section:nth-of-type(3) h4,
main section:nth-of-type(3) p {
  color: var(--color-text);
}

main section:nth-of-type(3) ul h4 {
  font-weight: 500;
  display: flex;
  justify-content: center;
}

main section:nth-of-type(3) ul li p {
  font-weight: 300;
  display: flex;
  justify-content: center;
  
  
}

main section:nth-of-type(3) ul img {
  height: auto;
  width: 8em;
  padding: 1em;
  order: 1;
  display: flex;
  justify-content: center;
}

/****************/
/* HOMEPAGE - SECTION 4 - PROMO image */
/****************/

section:nth-of-type(4) {
  position: relative;
}



main section:nth-of-type(4) img:nth-of-type(1) {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 10em;
  padding-bottom: 10em;
  transform: scale(1.5);
  margin: 0;
  
}

section:nth-of-type(4) p {
  position: absolute;
  left: 0.75em;
  right: 1em;
  bottom: 12em;
  padding: 0em 0.5em 1em 0.5em;
  margin: 0;

  text-align: center;
  font-size: small;
  color: white;
}

section:nth-of-type(4) h3 {
  position: absolute;
  left: 0.3em;
  right: 0.3em;
  bottom: 10em;
  padding: 0;
  margin: 0em;
  text-align: center;

  
  color: white;
  font-weight: 500;
  font-size: 1.8em;
}

main section:nth-of-type(4) button {
  position: absolute;
  top: 40em;
  right: 4em;
  left: 4em;

  padding: 1.25em;
  text-transform: uppercase;
  font-weight: 500;
  color: #353535;
  border-style: none;
  letter-spacing: 0.1em;
}


/****************/
/* HOMEPAGE - SECTION 5 - Community */
/****************/




section:nth-of-type(5){

	background-color:#f8f7f1;
	padding-top: 2.5em;
	padding-bottom: 1em;
	
}


section:nth-of-type(5) h3{
display: flex;
justify-content: center;
font-weight: 600;

}

section:nth-of-type(5) ul{


margin: 1em;
padding: 0em;
/* padding-left: 1em; */

list-style: none;

display: flex;
gap: 1em; 

overflow-x: auto;

scroll-snap-type: x mandatory;
/* bij de kinderen - de li - het tweede deel */

overscroll-behavior-x: contain;
/* zodat de back functie niet wordt getriggerd bij terug-swipen */
}


section:nth-of-type(5) ul li {
	background-color:#efeae4 ;
	list-style: none;
	
	/* als flex-kind */
	flex-shrink: 0; 
  
	/* als flex-parent */
	display: flex;
	flex-direction: column;
  
	scroll-snap-align: center;
	/* bij de parent het - de ul - het eerste deel */
  
  padding: 1em 0em 1em 2em;
	
  }
  

  section:nth-of-type(5) ul li p{

	font-size: small;
	padding-right: 2em;
  }
	


/****************/
/* HOMEPAGE - Footer */
/****************/

footer {
  margin: 0;
  padding: 0;

  background-color: var(--color-footer);
  color: var(--color-footer-text);
  position: relative;
}

footer h3,
h4 {
  font-weight: 50;
  text-transform: uppercase;
  font-size: small;
}

footer button {
  position: absolute;
  right: 1em;
}
